#top-box {
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99FFFFFF', endColorstr='#99FFFFFF');
}

#bottom-box {
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#CC000000', endColorstr='#CC000000');
}

#coding-column, #writing-column, #projects-column {
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#E53C3C3C', endColorstr='#E53C3C3C');
}
